.campo-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 0;
    padding: 0;
}

.campo-input {
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #4a4949;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 12%; */
    color: #fff;
    padding: 8px 16px;
    margin-bottom: 5%;
}

.campo-input::placeholder {
    color: #4a4949;

}