.lista_suspensa {
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #4a4949;
    font-weight: 400;
    font-size: 16px;
    line-height: 12%;
    color: #fff;
    padding: 8px 16px;
    margin-bottom: 5%;
    margin-top: 2%;
    width: 380px;
}

.label_lista {
    font-weight: 400;
    font-size: 16px;
    line-height: 12%;
    color: #fff
}

.lista_suspensa option {
    color: #000;
    background-color: #fff;
}